@{
    //ViewData["Title"] = "LOC_CountryList";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable;

<table class="table table-responsive table-sm">
    <thead>
        <tr>
            <th>CountryID</th>
            <th>CountryName</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow d in Model.Rows)
        {
            <tr>
                <td>@d["COUNTRYID"]</td>
                <td>@d["COUNTRYNAME"]</td>
                <td>@Convert.ToDateTime(d["CREATED"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(d["MODIFIED"]).ToString("dd-MM-yyyy")</td>
            </tr>
        }
    </tbody>

</table>
